{% extends 'base.html' %}

{% load static %}

{% block title %}
    FAQ
{% endblock title %}

{% block change %}
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Frequently Area -->
<br>
    <div class="frequently-area pt-60 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="frequently-content">
                            <div class="frequently-desc">
                                    <h3>&nbsp&nbsp&nbsp&nbsp&nbspBelow are frequently asked questions, you may find the answer for yourself</h3>
                            </div>
                    </div>
        <br>   
        <!-- Begin Frequently Accordin -->
        <div class="frequently-accordion">
            <div id="accordion">
            <ol>
                {% for p in faq  %}
                    <div class="card">
                                    <div class="card-header" id="heading{{p.ordernumber}}">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapse{{p.ordernumber}}" aria-expanded="false" aria-controls="collapse{{p.ordernumber}}">
                                          <li> {{p.question}} </li>
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapse{{p.ordernumber}}" class="collapse" aria-labelledby="heading{{p.ordernumber}}" data-parent="#accordion">
                                      <div class="card-body">
                                        {{p.answer}}
                                      </div>
                                    </div>
                                  </div>                            
                {% endfor %}
                </ol> 

            </div>
        </div>

<!--Frequently Accordin End Here -->
    </div>
</div>
</div>
</div>
        
<br>
{% endblock change %}

