{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Product Details
{% endblock title %}

{% block change  %}

        <div class="card bg-light mb-2`" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ search.image.url }}" class="card-img" alt="Sorry"> 
             <h1> <div class="fb-like" data-href="http://localhost:8000/product/{{search.id}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> </h1>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ search.name }}</h5>
                <p class="card-text">
                    {{ search.name }} <br>
                    {{ search.id }} <br>
                    {{ search.price }} <br>
                    {{ search.category }} <br>
                    {{ search.description }} <br>
                </p>
                
                  <a href="{% url 'update-cart' search.id  %}" >Add to Cart</a>

              </div>
            </div>
          </div>
        </div>
    <br> <br>
        <div class="fb-comments" data-href="http://localhost:8000/product/{{search.id}}" data-numposts="10" data-width=""></div>
    <br><br>
    <div class="container">
        {% for review in search.reviews.all %}
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ review.user.username }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ review.rating }}</h5>
                    <p class="card-text">{{ review.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit">
        </form>
    </div>

{% endblock change %}